/* STAP 1 */
body {
    background-color: grey;
}

/* STAP 2 */
table {
    background-color: yellow;
}

/* STAP 3  */
/* FEEDBACK in COMMIT stap 3: moet dit echt hidden? */
button {
    visibility: hidden;
}

